<%- include("../sidebar.ejs") %>
  <title><%= title %></title>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const socket = io();

      socket.emit('register', 'user_6');

      socket.on('newNotification', function(notification) {
        const notificationsContainer = document.getElementById('notifications-container');
        const notificationElement = document.createElement('div');
        notificationElement.className = 'mb-4 p-4 border border-gray-200 rounded-lg bg-white shadow-md flex justify-between items-center';

        notificationElement.innerHTML = `
          <div>
            <h2 class="text-xl font-semibold">${notification.judul}</h2>
            <p class="notification-meta text-sm text-gray-600">
              <span class="font-medium">Tanggal:</span> ${new Date(notification.createdAt).toLocaleDateString()}
            </p>
            <p class="notification-meta text-sm text-gray-600">
              <span class="font-medium">Waktu:</span> ${new Date(notification.createdAt).toLocaleTimeString()}
            </p>
            <p class="text-gray-700">${notification.detail}</p>
          </div>
        `;

        notificationsContainer.prepend(notificationElement);
      });
    });
  </script>

  </head>
  <body class="bg-gray-100">
    <div class="w-full pt-10 px-4 sm:px-6 md:px-8 lg:ps-72">
      <h1 class="text-2xl font-bold mb-6">Notifications</h1>
      <div id="notifications-container">
        <% if (notifications.length > 0) { %>
          <% notifications.forEach(notification => { %>
            <div class="mb-4 p-4 border border-gray-200 rounded-lg bg-white shadow-md flex justify-between items-center">
              <div>
                <h2 class="text-xl font-semibold"><%= notification.judul %></h2>
                <p class="notification-meta text-sm text-gray-600">
                  <span class="font-medium">Tanggal:</span> <%= formatDate(notification.createdAt) %>
                </p>
                <p class="notification-meta text-sm text-gray-600">
                  <span class="font-medium">Waktu:</span> <%= formatTime(notification.createdAt) %>
                </p>
                <p class="text-gray-700"><%= notification.detail %></p>
              </div>
            </div>
          <% }) %>
        <% } else { %>
          <p class="text-gray-700">No notifications found.</p>
        <% } %>
      </div>
    </div>
  </body>
  </html>


