<%- include("../sidebar.ejs") %>
<div class="w-full pt-10 px-4 sm:px-6 md:px-8 lg:ps-72">
  <div class="border-t border-gray-200 px-4 py-5 sm:p-0">
    <dl class="sm:divide-y sm:divide-gray-200">
      <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <h3 class="font-bold md:text-xl md:leading-tight">Detail</h3>
      </div>
      <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Nama</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= permohonanDetail.Mahasiswa.User.nama %>
        </dd>
      </div>
      <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">No BP</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= permohonanDetail.Mahasiswa.User.username %>
        </dd>
      </div>
      <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Fakultas</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          Teknologi Informasi
        </dd>
      </div>
      <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Departemen</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= permohonanDetail.Mahasiswa.departemen %>
        </dd>
      </div>
      <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Alamat</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= permohonanDetail.Mahasiswa.alamat %>
        </dd>
      </div>
      <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Departemen Tujuan</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          <%= permohonanDetail.departemen_tujuan %>
        </dd>
      </div>
      <div class="py-3 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          Terhitung Mulai Semester <%= permohonanDetail.semester %> Tahun
          Akademik <%= permohonanDetail.tahunAjaran %> Dengan Alasan : <br /><%=
          permohonanDetail.alasan %>
        </dd>
      </div>
      <div class="py-3 sm:py-5 sm:grid sm:grid-cols-1 sm:gap-4 sm:px-6">
        <div class="flex justify-start space-x-2">
          <a href="javascript:history.back()">
            <button
              type="button"
              class="bg-gray-600 text-white py-2 px-4 rounded font-semibold hover:bg-gray-700 focus:outline-none"
            >
              Back
            </button>
          </a>
          <% if (permohonanDetail.status === "selesai") { %>
            <span class="text-green-600 font-semibold">
              Permohonan selesai
            </span>
          <% } %>
          <% if (permohonanDetail.status === "ditolak") { %>
            <span class="text-red-600 font-semibold">
              Permohonan ditolak
            </span>
          <% } %>
          <% if (permohonanDetail.status === "diterima") { %>
            <span class="text-green-600 font-semibold">
              Permohonan telah diterima
            </span>
          <% } %>
          <% if (permohonanDetail.status !== "selesai" &&  permohonanDetail.status !== "ditolak"  &&  permohonanDetail.status !== "diterima" ) { %>
            <button
              type="button"
              class="bg-red-600 text-white py-2 px-4 rounded font-semibold hover:bg-red-700 focus:outline-none"
              data-hs-overlay="#hs-modal-upgrade-to-pro"
            >
              Tolak
            </button>
            <form id="accept-form" action="/admin/accept" method="post">
              <input type="hidden" name="permohonanId" value="<%= permohonanId %>">
              <button
                type="submit"
                class="bg-green-600 text-white py-2 px-4 rounded font-semibold hover:bg-green-700 focus:outline-none"
              >
                Terima
              </button>
            </form>
          <% } %>
        </div>
      </div>
    </dl>
  </div>
</div>

<div id="hs-modal-upgrade-to-pro" class="hs-overlay hidden size-full fixed top-0 start-0 z-[80] overflow-x-hidden overflow-y-auto">
  <div class="hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 mt-0 opacity-0 ease-out transition-all sm:max-w-lg sm:w-full m-3 sm:mx-auto">
    <div class="bg-white border border-gray-200 rounded-xl shadow-sm pointer-events-auto">
      <div class="p-4 sm:p-7">
        <div class="text-center">
          <h2 class="block text-xl sm:text-2xl font-semibold text-gray-800">tulis alasan penolakan</h2>
        </div>
        <form id="reject-form" method="post" action="/admin/reject">
          <div class="mt-8 sm:mt-10 divide-y divide-gray-200">
            <div class="mb-4 sm:mb-8">
              <textarea name="alasanPenolakan" id="edit-departemen_tujuan" class="py-3 px-4 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500" rows="4" placeholder="Ketik alasan penolakan di sini..." required></textarea>
            </div>
          </div>
          <input type="hidden" name="permohonanId" value="<%= permohonanId %>">
          <div class="flex justify-end items-center gap-x-2 p-4 sm:px-7 border-t">
            <button type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50" data-hs-overlay="#hs-modal-upgrade-to-pro">
              Cancel
            </button>
            <button class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-700" type="submit">
              Submit
            </button>
          </div>
        </form>            
      </div>
    </div>
  </div>
</div>

<script src="/sweetalert2.all.min.js"></script>

<script>
document.getElementById('reject-form').addEventListener('submit', function (event) {
  event.preventDefault();

  const permohonanId = document.querySelector('input[name="permohonanId"]').value;
  const alasanPenolakan = document.querySelector('textarea[name="alasanPenolakan"]').value; 

  if (!alasanPenolakan) {
    Swal.fire({
      title: 'Error!',
      text: 'Alasan penolakan harus diisi',
      icon: 'error',
      confirmButtonText: 'OK'
    });
    return;
  }

  fetch('/admin/reject', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ permohonanId, alasanPenolakan })
  })
  .then(response => response.json())
  .then(data => {
    if (data.message === "Permohonan telah ditolak dan notifikasi telah dikirim.") {
      Swal.fire({
        title: 'Berhasil!',
        text: data.message,
        icon: 'success',
        confirmButtonText: 'OK'
      }).then(() => {
        location.reload();
      });
    } else {
      Swal.fire({
        title: 'Error!',
        text: data.message,
        icon: 'error',
        confirmButtonText: 'OK'
      });
    }
  })
  .catch(error => {
    console.error('Error:', error);
    Swal.fire({
      title: 'Error!',
      text: 'Terjadi kesalahan saat menolak permohonan',
      icon: 'error',
      confirmButtonText: 'OK'
    });
  });

});


</script>
<script>
  document.getElementById('accept-form').addEventListener('submit', function (event) {
  event.preventDefault();

  const permohonanId = document.querySelector('input[name="permohonanId"]').value;

  fetch('/admin/accept', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ permohonanId })
  })
  .then(response => response.json())
  .then(data => {
    if (data.message === "Permohonan telah diterima dan notifikasi telah dikirim.") {
      Swal.fire({
        title: 'Berhasil!',
        text: data.message,
        icon: 'success',
        confirmButtonText: 'OK'
      }).then(() => {
        location.reload();
      });
    } else {
      Swal.fire({
        title: 'Error!',
        text: data.message,
        icon: 'error',
        confirmButtonText: 'OK'
      });
    }
  })
  .catch(error => {
    console.error('Error:', error);
    Swal.fire({
      title: 'Error!',
      text: 'Terjadi kesalahan saat memproses permohonan',
      icon: 'error',
      confirmButtonText: 'OK'
    });
    document.querySelector('.text-green-600').style.display = 'block';
    document.querySelector('.bg-red-600').style.display = 'none';
    document.querySelector('.bg-green-600').style.display = 'none';
  });
});

</script>

<script src="/preline.js"></script>
</body>
</html>
