<%- include("../sidebar.ejs") %>
<div class="w-full pt-10 px-4 sm:px-6 md:px-8 lg:ps-72">
  <h3 class="font-bold md:text-xl md:leading-tight">Request Pindah Prodi</h3>

  <div class="max-w-[85rem] mx-auto py-10 px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col">
      <div class="-m-1.5 overflow-x-auto">
        <div class="p-1.5 min-w-full inline-block align-middle">
          <div
            class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden"
          >
            <div
              class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200"
            >
              <div class="sm:col-span-1">
                <label for="hs-as-table-product-review-search" class="sr-only"
                  >Search</label
                >
                <div class="relative">
                  <input
                    type="text"
                    id="hs-as-table-product-review-search"
                    name="hs-as-table-product-review-search"
                    class="py-2 px-3 ps-11 block w-full border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                    placeholder="Search"
                  />
                  <div
                    class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-4"
                  >
                    <svg
                      class="flex-shrink-0 size-4 text-gray-400"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <circle cx="11" cy="11" r="8" />
                      <path d="m21 21-4.3-4.3" />
                    </svg>
                  </div>
                </div>
              </div>
            </div>

            <table class="min-w-full divide-y divide-gray-200 text-sm">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="px-4 py-2 text-start">
                    <span class="font-semibold text-gray-800">Nama Barang</span>
                  </th>
                  <th scope="col" class="px-4 py-2 text-start">
                    <span class="font-semibold text-gray-800">Kategori</span>
                  </th>
                  
                  <th scope="col" class="px-4 py-2 text-start">
                    <span class="font-semibold text-gray-800"
                      >gambar</span
                    >
                  </th>
                  <th scope="col" class="px-4 py-2 text-start">
                    <span class="font-semibold text-gray-800"
                      >Gambar</span
                    >
                  </th>
                  <th scope="col" class="px-4 py-2 text-start">
                    <span class="font-semibold text-gray-800"
                      >Tanggal Update</span
                    >
                  </th>
                  <th scope="col" class="px-4 py-2 text-start">
                    <span class="font-semibold text-gray-800">Status</span>
                  </th>
                  <th scope="col" class="px-4 py-2 text-start">
                    <span class="font-semibold text-gray-800">Detail</span>
                  </th>
                  <th scope="col" class="px-4 py-2 text-center">
                    <span class="font-semibold text-gray-800">Aksi</span>
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200">
                <% permohonanList.forEach(permohonan => { %>
                <tr>
                  <td class="px-4 py-2">
                    <span class="text-gray-800"
                      ><%= permohonan.Mahasiswa.User.nama %></span
                    >
                  </td>
                  <td class="px-4 py-2">
                    <span class="text-gray-800"
                      ><%= permohonan.Mahasiswa.User.username %></span
                    >
                  </td>
                
                  <td class="px-4 py-2">
                    <span class="text-gray-600"
                      ><%= permohonan.departemen_tujuan %></span
                    >
                  </td>
                  <td class="px-4 py-2">
                    <span class="text-gray-600"
                      ><%= formatDate(permohonan.createdAt) %></span
                    >
                  </td>
                  <td class="px-4 py-2">
                    <span class="text-gray-600"
                      ><%= formatDate(permohonan.updatedAt) %></span
                    >
                  </td>
                  <td class="px-4 py-2">
                    <span class="text-gray-600"><%= permohonan.status %></span>
                  </td>
                  <td class="px-4 py-2">
                    <a
                      href="/admin/request/<%= permohonan.id %>"
                      class="details-icon py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-black"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="lucide lucide-ellipsis"
                      >
                        <circle cx="12" cy="12" r="1" />
                        <circle cx="19" cy="12" r="1" />
                        <circle cx="5" cy="12" r="1" />
                      </svg>
                    </a>
                  </td>
                  <td class="px-4 py-2">
                    <% if (permohonan.status === 'selesai') { %>
                    <a
                      href="/admin/buatsurat/<%= permohonan.id %>"
                      class="complete-action-button py-1 px-2 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg bg-green-500 text-white"
                    >
                      Buat Surat
                    </a>
                    <% } %>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/preline.js"></script>